@model GestionEvenements.Models.IndexViewModel
@{
    ViewBag.Title = "Gérer";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Changer les paramètres de votre compte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Mot de passe :</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Changer votre mot de passe", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Créer", "SetPassword")
            }
            ]
        </dd>
        <dt>Rôle :</dt>
        <dd>
            @if (User.IsInRole("Utilisateur"))
            {
                <p>Utilisateur</p>
            }
            else if (User.IsInRole("Admin"))
            {
                <p>Administrateur</p>
            }
        </dd>
        
    </dl>
</div>
