@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gestion d'événements</h1>
    <p class="lead">Bienvenue sur notre application web vous permettant de consulter les événements à proximité et de définir rapidement les places de parkings à votre disposition pour ces événements.</p>
    @Html.ActionLink("Accéder aux événements à venir", "ListerEvenements", "Parking")
</div>

<div class="row">
    
</div>