@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gestion d'événements</h1>
    <p class="lead">Application web permettant à un utilisateur de consulter les possibilités de parking pour les événements à proximité.</p>
</div>

<div class="row">
    
</div>