
@{
    ViewBag.Title = "Description";
}

<h2>Description de l'évènement</h2>

@Html.Action("Parking", "DetailsEvenement")

<br />

@Html.Action("Parking", "ListerParkings")

<br />

@Html.Action("Parking", "Map")